body{
    background-color: #fff;
    height: 3336.19px;
}
.container{
    max-width: 1600px;
    position: relative;
    z-index: 10;
}
a{
    cursor: pointer;
}
a:hover{
    text-decoration: none;
}
button:hover{
    cursor: pointer;
}
.index-nav-1{
   background-color: rgba(0,0,0,.7)!important;
    position: relative;
    z-index: 10;
}
.index-nav-1>a{
    margin-left: 191px;
    background-image: url("../img/index/1_fsbnet_icon-sprite.png");
    height: 40px;
    width: 61.82px;
    background-repeat: no-repeat;
    background-position: -18px -75px;
}
.index-nav-2{
    padding: 0;
}
.index-nav-2>a{
    /*margin-left: 191px;*/
    background-image: url("../img/index/1_assets_img_logos_nav_logo_new.jpg");
    height: 51px;
    width: 53px;
    background-repeat: repeat;
    background-position: 0px 49px;
}
.index-nav-1 .content ul li{
    margin-right: 30px;
}
.index-nav-1 .content-right ul li{
    margin-left: 30px;
}
.index-nav-1 .content-right{
    margin-right: 191px;
    flex-direction: row-reverse;
}
.index-nav-2{
    margin-top: 50px;
}
.index-nav-2>a{
    margin-right: 0;
}
.index-nav-2 .content{
    height: 51px;
}
.index-nav-2 .content ul{
    height: 51px;
}
.index-nav-2 .content ul li{
    padding: 0 20px;
    border-right: 1px solid #e5e3dc;
    box-sizing: border-box;
    font-size: 1.1rem;
    line-height: 35px;
    transition: background-color .2s;
}

.index-nav-2 .content ul li:hover{
    background-color: #4b535d;
}
.index-nav-2 .content ul li:hover a{
    color: #f7931e;
}
.index-nav-2 .content ul li a:hover{
    color: #f7931e!important;
}
.index-nav-2 .content-right{
    flex-direction: row-reverse;
    height: 51px;
}
.index-nav-2 .content-right ul{
    height: 51px;
    width: 113.6px;
    line-height: 35px;
    background-color: #f7931e;
}
.index-nav-2 .content-right ul li{
    font-size: 1.1rem;
    padding: 0 31px;
}
.index-nav-2 .content-right ul li a{
    color: #fff!important;
    font-weight: 700;
}
.index-bg{
    position: relative;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    height: 90vh;
    min-height: 600px;
    overflow: hidden;
    top: -157px;
    /*z-index: -9;*/
}
.home-header__video-bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -10;
}
.home-header__video-bg>video {
    position: absolute;
    display: block;
    min-height: 100%;
    min-width: 100%;
    width: auto;
    height: auto;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.index-bg-title{
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    z-index: 10;
}
.index-bg-title-logo{
    margin-top: 30px;
    margin-bottom: -40px;
    min-width: 350px;
    width: 70vmin;
    margin-left: 2vmin;
}
.index-bg-button{
    width: 80%;
    margin-top: 60px;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}
.index-bg-button>a{
    width: 200px;
    display: inline-block;
    text-align: center;
    font-size: 1rem;
    padding: 10px 45px;
    margin: 0 10px;
    color: #fff;
    font-weight: 700;
    border-radius: 2px;
    text-decoration: none;
}
.index-bg-button .index-bg-bt-introduce{
    background-color: #00a5e2;
}
.index-bg-button{
    z-index: 20;
}

.index-bg-button .index-bg-bt-buy{
     background-color: #f7931e;
 }
.index-bg-bt-buy:hover{
    cursor: pointer;
}
.BgVidControl{
    cursor: pointer;
    position: absolute;
    left: 200px;
    bottom: 50px;
    color: #fff;
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
}
.BgVidControl .BgVidControl-icon{
    width: 32px;
    height: 32px;
    margin-right: 8px;
    background-image: url(../img/index/1_assets_img_icons_menus_video_control_icon.png);
    background-repeat: no-repeat;
    background-position: 0 0;
}
.BgVidControl .BgVidControl-text{
    color: #fff;
}
.index-news{
    position: relative;
    top: -130px;
    text-align: center;
    max-width: 1190px;
}
.index-news h1{
    font-weight: 400;
   margin-bottom: 40px;
}
.index-news-img .news-img{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    box-sizing: border-box;
    width: auto;
    height: 205px;
    display: block;
}
.index-news-img>div:nth-child(1) .news-img{
    background-image: url("../img/index/news-1.jpg");
}
.index-news-img>div:nth-child(2) .news-img{
    background-image: url("../img/index/news-2.jpg");
}
.index-news-img>div:nth-child(3) .news-img{
    background-image: url("../img/index/news-3.jpg");
}
.index-news-img .content{
    position: absolute;
    bottom: 0;
    width: 92.5%;
    background-color: rgba(0,0,0,.75);
    padding: 15px 20px;
    box-sizing: border-box;
}
.index-news-img .content h3{
    margin-bottom: 0;
    font-size: 1.1rem;
}
.index-news-img .content h3 a{
    color: #fff;
    text-decoration: none;
}
.index-news-btn{
    margin-top: 25px;
}
.index-news-btn a{
    color: #fff;
    font-weight: 700;
    background-color: #00a5e2;
    border-color: transparent;
    padding: 7.5px 65px;
    transition: all .2s;
    text-emphasis: none;
    margin-top: 50px;
    border-radius: 2px;
}
.index-news-btn a:hover{
    text-decoration: none;
    background-color: #0cbdff;
}
.index-live{
    background-image: url("../img/index/index-live.jpg");
    height: 450px;
    background-size: cover;
    position: relative;
    top: -100px;
}
.index-live .wahana-content{
    justify-content: flex-start;
}
.index-live .wahana-detail{
    align-items: flex-end;
    text-align: right;
    width: 960px;
    position: absolute;
    top: 175px;
}
.index-live .wahana-detail header h2{
    color: rgb(84, 88, 99);
    font-size: 48px;
    font-style: italic;
    font-weight: 400;
}
.index-live .wahana-detail header .index-live-time{
    color: rgb(78, 100, 149);
    font-size: 24px;
    line-height: 1.6;
    text-rendering: optimizeLegibility;
}
.wahana-detail-desc{
    display: block;
    margin-left: 425px;
    font-size: 18px;
    line-height: 26px;
    text-rendering: optimizeLegibility;
}
.wahana-detail a{
    padding: 6px 30px;
    border: 3px solid #ff9c00;
    background-color: #f7931e;
    line-height: 1;
    letter-spacing: .025em;
    font-weight: 700;
    color: #fff;
}
.wahana-detail a:hover{
    background-color: #ff9c00;
}
.index-list{
    background-image: url("../img/index/index-list-bg.jpg");
    width: 100%;
    height: 1000px;
    position: relative;
    top: -100px;
}
.index-list .index-list-header{
    padding-top: 30px;
}
.index-list .index-list-header h2{
    margin-bottom: 44px;
    font: italic normal normal 4rem "microsoft yahei",Arial,sans-serif;
    text-rendering: optimizeLegibility;
    font-family: "microsoft yahei","Helvetica Neue",Helvetica,Roboto,Arial,sans-serif!important;
    text-align: center;
}
.index-list .index-list-header-detail{
    text-align: center;
    line-height: 1.6;
    font-size: 1.6rem;
    font-weight: 300;
}
.index-list-body-bg{
    width: 100%;
    min-height: 200px;
    position: absolute;
    padding: 10px 0 15px;
    top: calc(50% - 100px);
    text-align: right;
    background-image: -webkit-linear-gradient(left,rgba(42,55,81,0),rgba(42,55,81,.8) 25%,rgba(42,55,81,.8) 75%,rgba(42,55,81,0));
/* background-image: linear-gradient(90deg,rgba(42,55,81,0) 0,rgba(42,55,81,.8) 25%,rgba(42,55,81,.8) 75%,rgba(42,55,81,0)); */
    background-position: 50%;
    background-size: 1920px auto;
    z-index: 0;
}
.index-list-body-detail{
    width: 100%;
    max-width: 1250px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
}
.index-list-body-detail h2{
    color: #f0edf2;
    padding-left: 64%;
    text-align: center;
    font: italic normal normal 4rem "microsoft yahei",Arial,sans-serif;
    text-rendering: optimizeLegibility;
    font-family: "microsoft yahei","Helvetica Neue",Helvetica,Roboto,Arial,sans-serif!important;
    text-shadow: 0 1px 2px #000;
}
.index-list-body-detail p{
    color: #f0edf2;
    line-height: 1.6;
    margin-bottom: 1rem;
    text-rendering: optimizeLegibility;
    display: inline-block;
    padding-left: 64%;
    text-align: center;
}
.index-list-body-hero{
    width: 100%;
    max-width: 1250px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
}
.index-list-body-hero-img{
    /* background-image: url("../img/index/dva.png"); */
    position: relative;
    left: -50px;
    display: inline-block;
    min-width: 746px;
    min-height: 440px;
    margin: 0 auto;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: 100% 100%;
    z-index: 0;
}
.index-list-foot{
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
}
.index-list-foot .hero-group{
    padding: 0;
    list-style: none;
    margin: 0;
    text-align: center;
}
.hero-list{
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0;
}
.hero-portrait{
    display: inline-block;
    text-align: center;
    padding-bottom: 0;
    position: relative;
    transition: all .1s cubic-bezier(.19,1,.22,1);
    color: #f7931e;
    text-decoration: none;
    line-height: inherit;
    background-color: transparent;
}
.hero-portrait-image-mask{
    display: block;
    position: relative;
    width: 70px;
    height: 75px;
    margin: 2.4px 5px;
    border: 3px solid #f0edf2;
    border-left-width: 0;
    border-right-width: 0;
    background-color: rgba(51,51,51,.9);
    background-clip: padding-box;
    overflow: hidden;
    border-radius: 7px;
    -webkit-transform: skew(25rad);
    -ms-transform: skew(25rad);
    transform: skew(25rad);
}
.hero-portrait-image{
    display: inline-block;
    width: calc(100% + 10px);
    height: 100%;
    background-size: auto 100%;
    background-position: 50% 50%;
    position: relative;
    -webkit-transform: skew(-25rad) translateX(-5px);
    -ms-transform: skew(-25rad) translateX(-5px);
    transform: skew(-25rad) translateX(-5px);
    /* background-image: url("../img/index/1dva_icon-portrait.png"); */
}
.hero-portrait-label{
    /*top: -8.4px;*/
    border-radius: .3rem;
    /*background-color: #f0edf2;*/
    color: #333;
    position: relative;
    display: inline-block;
    top: -4.2px;
    margin-left: -10px;
    padding: 1px 10px;
    font-size: 1rem;
    white-space: nowrap;
}
.hero-list:hover{
    transition: all 110ms cubic-bezier(.075,.82,.165,1);
}
.hero-list:hover .hero-portrait-label{
    top: -8.4px;
    border-radius: .3rem;
    background-color: #f0edf2;
}
.hero-list:hover .hero-portrait-image-mask{
    transform: skew(25rad) scale(1.2);
    background-color: #f7931e;
}


.foot-buy{
    text-align: center;
    position: relative;
    height: 280px;
    border-top: 1px solid hsla(0,0%,100%,.4);
    background-image: url(../img/index/foot-buy-bg.jpg);
    background-size: cover;
    background-position: 50%;
    top: -100px;
    margin-top: 50px;
    background-color: #fff;
    box-sizing: border-box;
}
.foot-buy .foot-buy-img{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 680px;
    height: 370px;
    background-image: url(../img/index/foot-buy-img.png);
}
.foot-buy-des{
    position: relative;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.foot-buy-des h2{
    /* margin-bottom: 20px; */
    font: italic normal normal 4rem "microsoft yahei",Arial,sans-serif;
    text-rendering: optimizeLegibility;
    font-family: "microsoft yahei","Helvetica Neue",Helvetica,Roboto,Arial,sans-serif!important;
    text-align: center;
}
.foot-buy-des span{
    font-size: 1.5rem;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    margin-bottom: 1rem;
}
.foot-buy-des a{
    width: 130px;
    display: inline-block;
    text-align: center;
    font-size: 1.1rem;
    padding: 10px 28px;
    margin: 0 10px;
    color: #fff;
    font-weight: 700;
    border-radius: 2px;
    text-decoration: none;
    background-color: #f7931e
}
#footer{
    margin: 0;
    padding: 0;
    position: relative;
    line-height: 26px;
    width: auto;
    z-index: 3;
    font-size: 12px!important;
    height: 358px;
    background: #202020;
    top: -100px;
}